#bg-video-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;

    -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#bg-video {
    height: 100%;
    width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: crosshair;
}

a:visited {
  color: inherit;
  text-decoration: inherit;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    width: 100%;
}

.white-text {
    color: white;
}

.center-text {
    text-align: center;
    font-size: 1.3333em;
    width: 100%;
}

.large {
  font-size: 1.8em;
  font-style: bold;
}

.center-icons-box {
    width:100%;
}

.center-icons {
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon {
    padding: 10px;
}

.hidden {
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

.shown {
    transition: all 2s;
    visibility: visible;
    opacity: 1;
}

body {
    font-family: 'The Girl Next Door', cursive;
    font-size: 36px;
    background: black;
}

#bg-video-box {
    position: fixed;
    background: black; /* For browsers that do not support gradients */
}